{
	"plugins": ["prettier-plugin-embed"],
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"arrowParens": "always",
	"embeddedLanguageFormatting": "auto"
}

