@import './reset.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
Q: WTF are these sizing calcs with 14 in the denominator??

A: I designed the message sipper to have whole number pixel sizes & offsets at 
14px rem. `calc(xrem / 14)` is how you achieve a value that references a specific 
pixel value (x) at that scale, while also being dynamic with rem size.
*/

:root {
	--font-size: 14px;
	--font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	--line-height: 1.2;

	--padding-inline: 1.5rem;
	
	--color-page: white;
	--color-ink: black;
	--color-ink-subdued: #7E7F87;

	--color-native-sender: #1285fe;
	--color-recipient: #e6e5ec;

	--message-spacing: calc(8rem / 14);
	--consecutive-message-spacing: calc(3rem / 14);

	--border-radius: 1rem;

	--color-border: #ddddde;
	--dropdown-background: #ededed;
	--dropdown-border: #b3b3b3;
	
	--color-drop-shadow: oklch(0 0 0 / 8%);
	--color-drop-shadow-intense: oklch(0 0 0 / 16%);

	--message-padding-inline: calc(8rem / 14);
	--message-padding-block: calc(4rem / 14);
	--message-tail-offset: calc(-1 * 4.5rem / 14);

	--single-line-message-height: calc(1lh + 2 * var(--message-padding-block));
}

@media (max-width: 480px) {
	:root {
		--font-size: 16px;
		--padding-inline: 0.9rem;
		--message-padding-inline: calc(10rem / 14);
		--message-padding-block: calc(6rem / 14);
	}
}

html {
  font-size: var(--font-size);
}

body {
	height: calc(var(--vh, 1dvh) * 100);
	max-width: 100%;

	font-family: var(--font-family);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-container {
	width: 100%;
	/*display: grid;*/
	/*grid-template-columns: 1fr 1fr;*/
	gap: 1rem;
	height: calc(var(--vh, 1dvh) * 100);
}

@media (max-width: 900px) {
	.app-container {
		grid-template-columns: 1fr;
	}
}
chat-editor,
chat-preview {
	min-height: 0;
}

chat-editor {
  display: none;
}
